{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="container">
	<a href="{% url 'blogapp:home' %}">Home</a> |
	<a href="{% url 'blogapp:contact' %}">Contact</a> |
	<a href="{% url 'blogapp:about' %}">About</a> |
	<a href="{% url 'blogapp:bloglist' %}">Blogs</a> |
	<a href="{% url 'blogapp:blogcreate' %}">Create New Blog</a>
	<hr>

	{% block content %}
	{% endblock %}

</body>
</html>