{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-12">
		<form method="POST" action="/blog/{{object.id}}/delete/">
			{% csrf_token %}
			<h4>Delete this Blog?</h4>
			<button>Delete</button>
			<a href="/blog/list/">Cancel</a>
			
		</form>
			
	</div>
</div>

{% endblock %}