{% extends 'base.html' %}

{% block content %}
<h4 class="text-info">{{blogdetail}}</h4>
<div class="row">
	<div class="col-12">
		<h4>Title: {{blogdetail.title}}<small>Posted on: {{blogdetail.posted_date}}</small></h4><hr>
		<a class="btn btn-info" href="/blog/{{blogdetail.id}}/update/">Update this Blog</a>
		<a class="btn btn-danger" href="/blog/{{blogdetail.id}}/delete/">Delete this Blog</a><br>
		<img src="{{blogdetail.image.url}}" width="500" class="img-fluid">
		<p>{{blogdetail.content}}</p>
		<hr>
		<p>Author: {{blogdetail.author}}</p>
	</div>
</div>

{% endblock %}