{% extends 'base.html' %}

{% block content %}

<div class="row">
	{% for blog in bloglist %}
	<div class="col-4">
		<h4 ><a href="/blog/{{blog.id}}/detail/">{{blog.title}}</a></h4>
		<img src="{{blog.image.url}}" class="img-fluid">
		<p>{{blog.content|truncatewords:'20'}}</p>
		<a href="{% url 'blogapp:blogdetail' blog.id %}">Read More</a>
	</div>

	{% endfor %}
</div>

{% endblock %}