{% extends 'base.html' %}


{% block content %}
<div class="row">
	<div class="col-8 mx-auto">
		
		<h1 class="text-primary text-center">Welcome to Sarobar Technology</h3>
		<h2 class="text-info text-center">Workshop on Python and Django</h4>

	</div>
</div>

{% endblock %}